*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.main{
    background-image: url(../img/bg.png);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
}

/*- Main -*/

.menu{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu a{
    color: #4a5057;
    font-size: 16px;
    font-weight: 600;
    margin: 0 15px;
    font-family: myraid pro;
}

.menu img{
    height: 18px;
}

.sign-in{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #3d3d3e;
    color: #3d3d3e;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    font-family: calibri;
    -webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.sign-in:hover{
    color: #FFF;
    background-color: #4530c3;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

nav{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;-ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px 60px;
}

.box{
    width: 220px;
    height: 310px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 6px 30px rgba(0,0,0,.1);
    box-shadow: 2px 6px 30px rgba(0,0,0,.1);
    background-color: #f6f6f6;
    margin: 30px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box p{
    font-family: calibri;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #3d3d3e;
}

.slide-detail p:nth-child(1){
    font-size: 23px;
    font-weight: 700;
}

.slide-detail p:nth-child(2){
    font-size: 18px;
}

.slide-detail{
    position: absolute;
    left: 50%;
    top: 20%;
    -webkit-transform: translate(-50%,-20%);
    transform: translate(-50%,-20%);
    width: 100%;
}

.user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3d3d3e;
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box-img01{
    background-image: url(../img/1.png);
}
.box-img02{
    background-image: url(../img/2.png);
}
.box-img03{
    background-image: url(../img/3.png);
}
.box-img04{
    background-image: url(../img/4.png);
}
.box-img05{
    background-image: url(../img/5.png);
}
.box-img06{
    background-image: url(../img/6.png);
}

.user-img01{
    background-image: url(../img/img-1.jpg);
}
.user-img02{
    background-image: url(../img/img-2.jpg);
}
.user-img03{
    background-image: url(../img/img-3.jpg);
}
.user-img04{
    background-image: url(../img/img-1.jpg);
}
.user-img05{
    background-image: url(../img/img-2.jpg);
}
.user-img06{
    background-image: url(../img/img-3.jpg);
}

.graphic{
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 200px;
    font-family: calibri;
}

.g-heading{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.g-heading span{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #4530c3;
}

.g-heading p{
    font-weight: bold;
    font-size: 20px;
    margin: 0 10px;
    line-height: 25px;
    color: #3d3d3e;
}

.g-details{
    font-size: 14px;
    margin: 10px 0px;
    color: #3d3d3e;
}

.s-heading,
.t-heading,
.p-heading{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0px;
}

.s-heading p:nth-child(1),
.t-heading p:nth-child(1),
.p-heading p:nth-child(1){
    font-family: Magmawave Caps;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    width: 40%;
    color: #3d3d3e;
}

.s-heading p:nth-child(2),
.t-heading p:nth-child(2)
.p-heading p:nth-child(2){
    font-family: myriad pro;
    font-size: 14px;
    color: #9f9e9e;
    margin-top: 0;
}

.s-box-container{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.s-box{
    width: 220px;
    padding: 20px;
    background-color: #FFF;
    -webkit-box-shadow: 1px 2px 12px rgba(0,0,0,0.1);
    box-shadow: 1px 2px 12px rgba(0,0,0,0.1);
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px 5px;
}

.s-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #313131;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.front-icon{
    background-image: url(../img/front.jpg);
}
.back-icon{
    background-image: url(../img/back.jpg);
}
.seo-icon{
    background-image: url(../img/seo.jpeg);
}
.gui-icon{
    background-image: url(../img/gui.jpeg);
}

.s-box a{
    font-family: myriad pro;
    font-weight: bold;
    color: #313131;
    font-size: 18px;
    margin: 10px 0;
}

.s-box p{
    font-family: myriad pro;
    color: #313131;
    font-size: 14px;
}

.s-button,
.plan-btn{
    width: 140px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #4530c3;
    border: 1px solid #4530c3;
}

.s-button:hover,
.plan-btn:hover{
    color: #Fff;
    background-color: #4530c3;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

button:active{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.t-box-container{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
}

.t-box{
    margin: 0px 30px 30px 0px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.team-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3d3d3e;
    margin: 15px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.t-img1{
    background-image: url(../img/img-1.jpg);
}
.t-img2{
    background-image: url(../img/img-2.jpg);
}
.t-img3{
    background-image: url(../img/img-3.jpg);
}
.t-img4{
    background-image: url(../img/img-2.jpg);
}

.t-id{
    font-family: myriad pro;
}

.t-id a{
    font-size: 18px;
    color: #3d3d3e;
    font-weight: bold;
}

.t-id p{
    font-size: 14px;
    color: #9f9393;
    margin: 0;
}

.contact-us{
    width: 100%;
    height: 200px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #353745;
    font-family: myriad pro;
}

.contact-us h1{
    font-size: 26px;
    margin: 5px;
    color: #fff;
}

.contact-btn{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #4530c3;
    color: #FFF;
    margin: 10px;
}

.plan{
    margin-top: 2%;
}

.p-box{
    width: 220px;
    height: 310px;
    border-radius: 10px;
    background-color: #FFF;
    -webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    margin: 30px 5px;
    font-family: myriad pro;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    padding: 20px 0px;
}

.p-box-container{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.p-box-heading{
    font-family: myriad pro;
    font-weight: bold;
    color: #3d3d3e;
    font-size: 18px;
}

.price a{
    color: #4530c3;
    font-size: 25px;
    font-weight: bold;
}

.price p{
    color: #3d3d3e;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
}

.p-b-details{
    text-align: center;
    color: #3d3d3e;
    font-size: 14px;
}

footer{
    background-color: #353745;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-container{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 3% 0;
    margin: 5px;
    width: 80%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-container ul{
    font-family: calibri;
    margin: 0;
    margin: 0 20px;
}

.footer-container h1{
    color: #9697a0;
    font-size: 20px;
    font-family: calibri;
}

.footer-container ul li a{
    font-size: 16px;
    color: #575a70;
}

.footer-container ul li a:hover{
    color: #9697a0;
}

.social-icons a{
    width: 35px;
    height: 35px;
    margin: 0 5px;
    background-color: #424356;
    -webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-icons a:hover{
    background-color: #9a9ff6;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
}

.social-icons a:hover i{
    color: #424356;
}

.social-icons{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social-icons i{
    color: #FFF;
    font-size: 14px;
}

.search input{
    height: 35px;
    width: 200px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    border: none;
    outline: none;
}

.copyright{
    font-family: calibri;
    font-size: 12px;
    margin: 10px;
    text-align: center;
    color: #b3b3b3;
}

@media(max-width:1024px){
    .s-box,
    .p-box{
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin: 5px;
    }
    
    .p-box:nth-child(4){
        height: 250px;
        width: 100%;
    }
    
    .search{
        margin: 20px auto;
        width: 100%;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .search h1{
        margin: 20px;
    }
}

@media(max-width:720px){
    .menu a{
        margin: 0 10px;
        font-size: 14px;
    }
    .sign-in{
        height: 33px;
        width: 80px;
        font-size: 12px;
    }
    .s-box p,
    .s-button{
        display: none;
    }
    .s-box{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 100%;
        padding: 5px;
    }
    .s-icon{
        height: 40px;
        width: 40px;
    }
    .s-box a{
        font-size: 16px;
        margin: 0 15px;
    }
    .team-img{
        width: 60px;
        height: 60px;
    }
    .t-box{
        margin: 0px 10px 30px 10px;
    }
    .t-id a{
        font-size: 14px;
    }
    .t-id p{
        font-size: 12px;
    }
    .contact-us{
        height: 150px;
    }
    .contact-us h1{
        font-size: 18px;
    }
    .contact-btn{
        height: 33px;
        width: 120px;
        font-size: 12px;
    }
    .p-box{
        width: 80%;
        margin: 10px;
    }
    .p-heading p{
        width: 80%;
        margin: 10px;
        text-align: center;
    }
    .footer-container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }
    .footer-container h1{
        font-size: 25px;
    }
    .footer-container ul{
        padding: 0;
    }
    .footer-container ul li{
        text-align: center;
        margin: 10px;
    }
    .footer-container ul li a{
        font-size: 20px;
    }
    .search{
        display: block; 
    }
}




















